*~
/.dotest
/Makefile.am
aclocal.m4
m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
configure.in
depcomp
install-sh
ltmain.sh
missing
Makefile.in
src/Makefile.am
po/Makefile.in.in
po/LINGUAS
mkinstalldirs
intltool-*.in
.gitignore
*.patch
