*~
/.dotest
/Makefile.am
aclocal.m4
m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
configure.in
depcomp
install-sh
ltmain.sh
missing
Makefile.in
mkinstalldirs
intltool-*.in
/*.patch
*.o
*.lo
*.la
.deps
.libs
.*.swp
Makefile
*.gmo
stamp-h1
CONFIGURE.sh
config.status
config.log
/libtool
/config.h
/README
