# generic rules for MuxWidgets

style "mux-win" {
    bg[NORMAL] = "#4a535a"
    MuxWindow::title-bar-bg = "#333333"
    MuxWindow::title-bar-fg = "#c2c2c2"
}
class "MuxWindow" style "mux-win"

style "mux-bin" {
    bg[NORMAL] = "#ffffff"
    MuxBin::border-color = "#dee2e5"
    MuxBin::bullet-color = "#aaaaaa"
    MuxBin::title-font = "12"
}
class "MuxBin" style "mux-bin"

# tooltips seem to take their color from the window bg? working around that 
style "mux-tooltip-fix" { 
    bg[NORMAL] = "#ffffff" 
} 
widget "gtk-tooltip*" style "mux-tooltip-fix" 
