[Desktop Entry]
Name=Sync
Comment=Bring your data with you
Version=1.0
Type=Application
Exec=sync-ui
Icon=sync
Categories=Network;GTK;
Terminal=false
