Source: syncevolution
Section: user/office
Priority: extra
Maintainer: Ove Kaaven <ovek@debian.org>
Build-Depends: debhelper (>= 5), autotools-dev, libglib2.0-dev,
 libedataserver-dev, libebook-dev, libcurl3-dev
Standards-Version: 3.7.2

Package: syncevolution
Architecture: any
Depends: ${shlibs:Depends}
Description: SyncEvolution - a SyncML client
 SyncEvolution allows you to sync your contacts and calendar with SyncML
 servers on the Internet, such as Funambol and ScheduleWorld.

Package: syncevolution-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}
Description: SyncEvolution development files

