Source: syncevolution
Section: user/communication
Priority: extra
Maintainer: Patrick Ohly <patrick.ohly@gmx.de>
Build-Depends: debhelper (>= 4), autotools-dev, libedataserver-dev, libcurl3-dev
Standards-Version: 3.7.2

Package: syncevolution
Architecture: any
Depends: ${shlibs:Depends}
Description: SyncEvolution - a SyncML client for Evolution

